extends layout

block content

    h1 Title: #{author.name}
    if author.date_of_birth && author.date_of_death
        p Age of author: #{author.lifespan} years old

    if author_books.length
        p #[strong Delete the following books before attemping to delete this author] 
        
        div(style='margin-left:20px;margin-top:20px')

            h4 Books
            dl
            each book in author_books 
                dt
                    a(href=book.url + '/delete') #{book.title}
                dd #{book.summary}

    else
        p Do you really want to delete this Author?
        form(action="", method="post")
            div.form-group
                input#authorid.form-control(type="hidden", name="authorid" value=author._id required='true' )
            button.btn.btn-primary(type="submit") Delete