extends layout

block content
    h1=title
    form(action="", method="post")
        div.form-group
            label(for='book') Book:
            select#book.form-control(type='select' name="book" required='true' placeholder='select book')
                - book_list.sort(function(a,b){let textA=a.title.toUpperCase(); let textB=b.title.toUpperCase(); return (textA<textB) ? -1 : (textA>textB) ? 1 : 0;})
                for book in book_list
                    if book_instance
                        option(value=book._id, selected=(book._id.toString()==book_instance.book.toString() ? 'selected':false)) #{book.title}
                    option(value=book._id) #{book.title}
        div.form-group
            label(for="imprint") Imprint
            input#imprint.form-control(type="text", name="imprint" placeholder="Publisher and date information" required='true' value=(undefined===book_instance ? '' : book_instance.imprint))
        div.form-group
            label(for="due_back") Due Back
            input#due_back.form-control(type="date" name="due_back" value=(undefined===book_instance ? '' : book_instance.due_back))
        div.form-group
            label(for="status") Status
            select#status.form-control(type='select' name="status" required='true' placeholder='select status')
                option(value='Maintenance') Maintenance
                option(value='Available') Available
                option(value='Loaned') Loaned
                option(value='Reserved') Reserved
        button.btn.btn-primary(type="submit") Submit

    if errors 
        ul
            for error in errors
                li!=error.msg
            

